.transparentButton {
  transition: background-color 0.5s ease;
  background-color: #006be6;
  border: 2px #fff solid;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  padding: 12px 24px;
  position: relative;
  z-index: 1;
}
.transparentButton a {
  text-decoration: none;
  color: #fff;
}
.transparentButton:hover {
  background-color: black;
}

.transparentButton a:hover {
  text-decoration: underline;
  color: #ffffff86;
  transition: color 0.5s ease-in-out;
}
